body {
  margin: 15px 10 px;
  background-color: white;
  border-color: rgba(255, 193, 7, 0.3);
  border-width: 1px;
}
#app {
  margin: 25px 20px;
  border-color: rgba(255, 193, 7, 0.8);
}
#frame {
  font-family: sans-serif;
  background: rgba(255, 193, 7, 0.4);
  padding: 5px 10px;
  margin: 30px 50px;
  border-radius: 10px;
  border-color: coral;
  max-width: 600px;
  max-height: 600px;
}

h1 {
  color: #455a64;
  font-weight: 500;
  margin: 20px;
}
h2 {
  color: #364f6b;
  font-size: 18px;
  margin: 10px 20px;
}
h3 {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  font-size: 50px;
  line-height: 65px;
}
h4 {
  text-align: right;
  font-size: 18px;
  margin: 10px 20px;
}
small {
  font-size: 12px;
  vertical-align: top;
}
.form-control {
  display: block;
  width: 95%;
  margin: 25px 0px 0px 20px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #0288d1;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
hr {
  border-top: 1px solid rgba(255, 193, 7, 0.9)
  line-height: 3;
}
img {
  padding: 10px;
  display: inline-block;
}
.btn-primary {
  background-color: #b3e5fc;
  border-color: #0288d1;
  color: #0288d1;
  width: 100%;
}
#submit-location-button{
  margin: 25px 0px 0px 0px;
  width: 110%;
}
#current-location-button{
  margin: 25px 0px 0px 20px;
  width: 110%;
  background-color:  #b3e5fc;

}

#credit-footer {
  font-size: 10px;
}
.footer {
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}
