body {
  display: block;
  margin: 0px auto;
  background-color: white;
  border-color: rgba(255, 193, 7, 0.1);
  border-width: 1px;
}
.active {
  cursor: default;
}

.active:hover {
  color: black;
  cursor: default;
  text-decoration: bold;
}

h1 {
  color: #455a64;
  font-size: 24px;
  font-weight: 500;
  margin: 10px 20px;
}
h2 {
  color: #364f6b;
  font-size: 16px;
  margin: 10px 20px;
}
h3 {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  font-size: 50px;
  line-height: 65px;
  padding: 0px 25px;
}
h4 {
  text-align: right;
  font-size: 16px;
  margin: 10px 20px;
}
small {
  font-size: 12px;
  vertical-align: top;
}
.form-control {
  display: block;
  width: 296px;
  margin: 25px 0px 0px 20px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: rgba(255, 255, 255, 0.8);
  background-clip: padding-box;
  border: 1px solid #888888;
  border-radius: 7px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
hr {
  border-top: 1px solid rgba(255, 193, 7, 0.9);
  padding: 0px;
}
img {
  padding: 5px 10px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.btn-primary {
  background-color: rgba(255, 255, 255, 0.85);
  border-color: #888888;
  width: 100%;
  color: #495057;
  box-shadow: 0px 0px 2px #888888;
}

.col-6 {
  padding: 5px 0px 15px 15px;
  margin: 20px 0;
}
.col {
  padding: 5px 5px 15px 5px;
  margin: 5px 0;
  width: 50px;
}

#app {
  margin: 25px 30px 10px 30px;
  border-color: rgba(255, 193, 7, 0.1);
  height: 500px;
}
#frame {
  font-family: sans-serif;
  background-color: rgba(255, 193, 7, 0.2);
  background-image: url("img/grungy-back-upside2.png");
  background-size: cover;
  padding: 5px 10px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  max-height: 600px;
}
#submit-location-button {
  margin: 25px 0px 0px 0px;
  width: 100px;
}
#current-location-button {
  margin: 25px 0px 0px 20px;
  width: 100px;
  background-clip: padding-box;
  border: 1px solid #888888;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#city-date-info {
  background: rgba(255, 255, 255, 0.6);
  width: 50px;
  margin: 20px 5px 10px 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #888888;
}
#weather-general {
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  width: 215px;
  margin: 20px 5px 10px 25px;
  padding: 15px 10px 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #888888;
}

.weather-row {
  background: rgba(255, 255, 255, 0.6);
  margin: 0 25px;
  border: 0px 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #888888;
  text-align: center;
}
#forecast-row {
  padding: 10px;
  width: 100%;
  margin: 25px 0px 10px 0px;
}
#weather-description {
  margin: 0 5px 0 auto;
}

#credit-footer {
  font-size: 10px;
}
.footer {
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}
.btn {
  border-radius: 5px;
  border-color: #888888;
}
.container {
  padding: 0 0;
  max-height: 200px;
}

#fahrenheit-link {
  color: black;
}
#celsius-link {
  color: black;
}
small {
  font-size: 14px;
  vertical-align: top;
}
